{{- $lon := .Get "lon" -}}
{{- $lat := .Get "lat" -}}
{{- $height := .Get "height" | default 240 -}}
{{- $zoom := (.Get "zoom") | default 15 -}}

{{- $hash := now | md5 -}}
<div id="leaflet-{{- $hash -}}" style="height: {{- $height -}}px;"></div>

<script>
    const lon = parseFloat('{{- $lon -}}');
    const lat = parseFloat('{{- $lat -}}');
    const zoom = parseInt('{{- $zoom -}}');
    const popup = `{{- .Inner | markdownify | HTMLEscape -}}`;

    const map = L.map('leaflet-{{- $hash -}}', {
        center: [lon, lat],
        zoom: zoom,
    });

    const maxZoom = 19
    const layer = '{{- .Page.Param "mods.leaflet.tile_layer" -}}';
    const attribution = '{{- (.Page.Param "mods.leaflet.attribution") | markdownify | HTMLEscape -}}';
    L.tileLayer(layer, { attribution, maxZoom }).addTo(map);

    const marker = L.marker([lon, lat]).addTo(map);

    if (popup !== '') {
        marker.bindPopup(popup).openPopup();
    }
</script>

<noscript>
	{{- T "leaflet.no_script" . -}}
</noscript>

